.background {
    padding: 10px;
    background-color: #007009;
    color: aliceblue;
    border-radius: 25px;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 16px;
}

.row {
    width: 100%;
}

.row * {
    display: inline-block;
}